
#pixel-container {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 100vw;
}

.row {
  display: inline-block;
}

.pixel-box { 
  height: 10px;
  width: 10px;
  border: 1px solid black;
}
